In [2]:
import numpy as np
import scipy.stats as stats
import math
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from itertools import combinations

In [3]:
# Pull the CSV and check out the layout.

all_cars_df = pd.read_csv("../data/cars-dataset.csv")

all_cars_df.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
43,13.0,8,400.0,170.0,4746.0,12.0,71,1,ford country squire (sw)
386,25.0,6,181.0,110.0,2945.0,16.4,82,1,buick century limited
343,39.1,4,79.0,58.00,1755.0,16.9,81,3,toyota starlet
260,18.6,6,225.0,110.0,3620.0,18.7,78,1,dodge aspen
252,19.2,6,231.0,105.0,3535.0,19.2,78,1,pontiac phoenix lj
91,13.0,8,400.0,150.0,4464.0,12.0,73,1,chevrolet caprice classic
287,16.5,8,351.0,138.0,3955.0,13.2,79,1,mercury grand marquis
197,29.0,4,90.0,70.00,1937.0,14.2,76,2,vw rabbit
120,19.0,4,121.0,112.0,2868.0,15.5,73,2,volvo 144ea
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002

In [11]:
# Here's a separate dataframe for each origin.

american_cars_df = all_cars_df[all_cars_df['origin']== 1]

european_cars_df = all_cars_df[all_cars_df['origin'] == 2]

japanese_cars_df = all_cars_df[all_cars_df['origin'] == 3]

american_cars_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.00,2950.0,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10